<h1>Showing the selected article</h1>

<p>
  Title : <%= @article.title %>

  </p>

  <p>
    description : <%= @article.description %>

    </p>

<%= link_to "Back to listing article", articles_path %>
<%= link_to "Update the article", edit_article_path(@article) %>
